{% extends "base.html" %}

{% block links %}
<a href="/addJob">Add Job</a>
{% endblock %}

{% block body %}

<div id="main" style='height: auto'>
    <div id="content" style='height: auto'>
      <div class="box" style='height: auto'>
        <h2><span>About Us</span></h2>
        <div class="cl">&nbsp;</div>
          <div class="cl">&nbsp;</div>
              <p style="color: black; font-style: italic; font-size: 15px;">
                Welcome to Jobs4U, your trusted partner in the journey of finding the perfect job. <br><br>
                At Jobs4U, we understand that your career is one of the most significant aspects of your life. That's why we're committed to helping you navigate the dynamic job market and discover opportunities that align with your aspirations.
            <br><br>
              </p>
            <div class="cl">&nbsp;</div>
          </div>

      <div class="box" style='height: auto'>
        <h2><span>Our Mission</span></h2>
        <div class="cl">&nbsp;</div>
          <div class="cl">&nbsp;</div>
            <p style="color: black; font-style: italic; font-size: 15px;">
                We are on a mission to connect job seekers with meaningful employment opportunities. Whether you're an experienced professional seeking a career change or a recent graduate stepping into the workforce, we're here to assist you in every step of your job search journey.
            <br><br>
            </p>
            </div>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
<!--
<div id="main" style='height: auto'>
  <div id="content" style='height: auto'>
      <div class="box" style='height: auto'>

            <br><br>
            <h2> About Us </h2>
            <br><br>
            <p style="color: black; font-style: italic; font-size: 15px;">
                Welcome to Jobs4U, your trusted partner in the journey of finding the perfect job. <br><br>
                At Jobs4U, we understand that your career is one of the most significant aspects of your life. That's why we're committed to helping you navigate the dynamic job market and discover opportunities that align with your aspirations.
            <br><br>
            </p>

            <br><br><br>

            <h2> Our Mission </h2>
            <br><br>
            <p style="color: black; font-style: italic; font-size: 15px;">
                We are on a mission to connect job seekers with meaningful employment opportunities. Whether you're an experienced professional seeking a career change or a recent graduate stepping into the workforce, we're here to assist you in every step of your job search journey.
            <br><br>
            </p>

            <br><br><br>
        </div>
        </div>
        </div>
-->
{% endblock %}