{% extends "base.html" %}

{% block links %}
<a href="/addJob">Add New Job</a>
{% endblock %}

{% block body %}
<div id="main">
  <div id="content" style='height: auto'>
    <div class="box" style='height: auto'>
      <div class="cl">&nbsp;</div>
      <div class="posts">
        <div class="title">
        </div>
        <div class="cl">&nbsp;</div>
        <div class="description">
        </div>

        <div class="cl">&nbsp;</div>
        <div class="post-article">
          <div class="data-article" id="data-content">
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
  <div class="cl">&nbsp;</div>
</div>
{% endblock %}


